# ETL

In [1]:
import numpy as np
import pandas as pd
import requests 

#pip install requests

In [2]:
ceps = ['41720060', '09715022', '41720062']
# url = f'https://brasilapi.com.br/api/cep/v1/{ceps}'
responses = list()
for cep in ceps:
    url = f'https://brasilapi.com.br/api/cep/v1/{cep}'
    response = requests.get(url)
    responses.append(response)

In [3]:
len(responses)

3

In [4]:
responses[0].status_code

200

In [5]:
data = responses[0].json()

In [9]:
## exemplo que o Alisson Citou:

dataframe = pd.DataFrame.from_dict(data=data, orient='index').T
dataframe

        cep state      city neighborhood            street   service
0  41720060    BA  Salvador        Imbuí  Rua dos Colibris  open-cep

In [10]:
df_full = pd.DataFrame(
    {
        'cep': [np.nan],
        'state': [np.nan],
        'city': [np.nan],
        'neighborhood': [np.nan],
        'street': [np.nan],
        'service': [np.nan],
    }
)
for n in range(len(responses)):
    ## PARSE
    if responses[n].status_code == 200:
        data = responses[n].json()
        df = pd.DataFrame(
            {
                'cep': [data['cep']],
                'state': [data['state']],
                'city': [data['city']],
                'neighborhood': [data['neighborhood']],
                'street': [data['street']],
                'service': [data['service']],
            }
        )
        df_full = pd.concat([df_full, df])
    else:
        print(responses[n].status_code)

df_full = df_full.dropna()

404

In [11]:
df_full

,cep,state,city,neighborhood,street,service
0,41720060,BA,Salvador,Imbuí,Rua dos Colibris,open-cep
0,09715022,SP,São Bernardo do Campo,Centro,Rua Américo Brasiliense,open-cep

In [12]:
url = "https://restcountries.com/v3.1/all"
response = requests.get(url)

In [13]:
if response.status_code == 200:
    data_json = response.json()
else:
    print(f"Erro ao acessar a API, erro = {response.status_code}")

In [72]:
data = pd.DataFrame(data_json)
data.head(2)

,name,tld,cca2,ccn3,cca3,independent,status,unMember,currencies,idd,...,continents,flags,coatOfArms,startOfWeek,capitalInfo,postalCode,cioc,gini,fifa,borders
0,"{'common': 'Wallis and Futuna', 'official': 'T...",[.wf],WF,876,WLF,False,officially-assigned,False,"{'XPF': {'name': 'CFP franc', 'symbol': '₣'}}","{'root': '+6', 'suffixes': ['81']}",...,[Oceania],"{'png': 'https://flagcdn.com/w320/wf.png', 'sv...",{},monday,"{'latlng': [-13.95, -171.93]}","{'format': '#####', 'regex': '^(986\d{2})$'}",NaN,NaN,NaN,NaN
1,"{'common': 'Iceland', 'official': 'Iceland', '...",[.is],IS,352,ISL,True,officially-assigned,True,"{'ISK': {'name': 'Icelandic króna', 'symbol': ...","{'root': '+3', 'suffixes': ['54']}",...,[Europe],"{'png': 'https://flagcdn.com/w320/is.png', 'sv...",{'png': 'https://mainfacts.com/media/images/co...,monday,"{'latlng': [64.15, -21.95]}","{'format': '###', 'regex': '^(\d{3})$'}",ISL,{'2017': 26.1},ISL,NaN

In [74]:
nome       = [pais.name['common'] for pais in data.itertuples()]
region     = [pais.region for pais in data.itertuples()]
population = [pais.population for pais in data.itertuples()]

paises = pd.DataFrame({
    "Nome": nome,
    "Regiao": region,
    "Populacao": population
})
paises.head(3)

                Nome   Regiao  Populacao
0  Wallis and Futuna  Oceania      11750
1            Iceland   Europe     366425
2         Luxembourg   Europe     632275

# Alertas

In [6]:
#!pip install plyer 
from plyer import notification 
notification.notify(
     title='Título da notificação',
     message='Mensagem da notificação',
     app_name='Nome do aplicativo',
     timeout=10 )

# schedule

In [4]:
#pip install schedule
import schedule
import time

def minha_tarefa():
    print("Executando minha tarefa")
#schedule.every(1).minutes.do(minha_tarefa)
schedule.every(1).seconds.do(minha_tarefa)

while True:
    schedule.run_pending()
    time.sleep(1)

Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa
Executando minha tarefa

Collecting schedule
  Downloading schedule-1.2.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: schedule
Successfully installed schedule-1.2.0

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip